<h2 mat-dialog-title class="dialog-heading">Add Employee</h2>
<mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error
        *ngIf="
          employeeForm.controls['name'].hasError('required') &&
          employeeForm.controls['name'].touched
        "
        >Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error
        *ngIf="
          employeeForm.controls['email'].hasError('required') &&
          employeeForm.controls['email'].touched
        "
        >Email is required</mat-error
      >
      <mat-error
        *ngIf="
          employeeForm.controls['email'].hasError('email') &&
          employeeForm.controls['email'].touched
        "
        >Invalid email format</mat-error
      >
      <mat-error
        *ngIf="employeeForm.controls['email'].hasError('emailAlreadyExist')"
        >Email Already Exist</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="button-container">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveEmployee()"
    class="button-2"
  >
    Save
  </button>
</mat-dialog-actions>
